<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fyejvn</key>
	<string>wiz</string>
	<key>cjvjjz</key>
	<string>opi</string>
	<key>wneu</key>
	<string>wfum4bgp</string>
	<key>wkzdgf</key>
	<string>link</string>
	<key>jruj</key>
	<string>66775423</string>
	<key>wtj</key>
	<string>c1z5lrebkwwaynh9</string>
	<key>fcsya</key>
	<string>bto0z3i7jq3w35k2</string>
	<key>ppara</key>
	<string>launch_bg</string>
	<key>tpb</key>
	<string>launch_bg</string>
	<key>sajytv</key>
	<false/>
</dict>
</plist>
